@import url(https://fonts.googleapis.com/css?family=Bad+Script);

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background: url("../images/hero2.jpg") no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-color: #EBEBF7;
	font-size: 16px;
}

#bridal-body	{
	background: url("../images/hero4.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-color: #EBEBF7;
}

#about-body {
	background: url("../images/snow1.jpg") no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-color: #EBEBF7;
}

.hero {
	width: 100%;
	height: 20em;
}

h1 {
	padding: .4em;
	text-align: center;
	word-spacing: 1px;
	font-weight: 800;
	font-size: 2.4em;
	font-family: "Bad Script", "Georgia", cursive, serif;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.wrapper {
	background-color: #EBEBF7;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.about-wrapper {
	background-color: #EBEBF7;
	margin-top: 29em;
	padding-top: .06em;
}

footer p {
	font-size: .5em;
}

/* ------- Nav Bar ------- */

nav {
	text-align: center;
	font-weight: 600;
	background-color: #EBEBF7;
	width: 100%;
}

#order {
	padding-left: 3em;
	font-weight:800;
}

nav li {
	font-size: 1.4em;
	display: inline;
	padding: 1em;
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
}

li:hover {
	color: #4C469D;
}

/* ------ End Nav Bar ------- */
.container {
	text-align: center;
	min-height: 18.75em;
	width: 100%;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
}

.display {
	display: table;
	width: 50%;
	float:left;
	overflow: hidden;
	max-width: 40em;
}

.display p {
	text-align: left;
	padding: 1% 10%;
	vertical-align: middle;
}

.img-table {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.text-display {
	padding-top: 5em;
}

.display img {
	width: 100%;
	text-align: center;
	vertical-align: center;
	overflow: hidden;
}
/* ---------Gallery---------- CSS */
.gallery-links {
	margin: 0 auto;
	font-size: 2em;
	font-family: "Georgia", serif;
}

.gallery-links ul {
	margin: 3em;
	text-align: center;
}

.gallery-links li {
	display: inline;
	margin: 0 .5em;
	box-shadow: .01em .01em .01em .02em #999;
	margin-top: 2em;
	padding: .4em;
	background-color: #7D81CF;
	color: #FFF;
	font-weight: 200;
	border-radius: 1.2em;

}
.gallery-links li:hover {
	color: #000;
}

.gallery-links a {
	font-family: "Georgia", serif;
	font-size: 1em;
}

.gallery-links a:hover {
	font-family: "Georgia", serif;
	font-size: 1em;
}

.gallery-container {
	background-color: #EBEBF7;
	overflow: hidden;
	width: 712px;
	margin: 0 auto;
}
.gallery-container ul {
	list-style: none;
	background-color: #EBEBF7;
	margin: 0 auto;
}

.gallery-container li {
	float: left;
	margin: .7em;
}

.gallery-container img {
	display: block;
	padding: 1px;
	background-color: #999;
	border: 1px solid #999;
	box-shadow: 1px 1px 2px;
}

.gallery img:hover {
	border: 1px solid #000;
}

/*end Gallery CSS */

p {
	font-family: "Georgia", serif;
	line-height: 170%;
	font-size: 1.2em;
	font-weight: 400;
}

/* a link edits */
a {
	text-decoration: none;
	font-family: "Bad Script", cursive, "san serif";
	color: black;
	font-weight: 200;
}

a:hover {
	text-decoration: none;
	font-family: "Bad Script", cursive, "san serif";
	color: #4C469D;
}

a:visted {
	text-decoration: none;
	font-family: "Bad Script", cursive, "san serif";
	color: #4C469D;
}

.no-font {
	font-family: "Georgia", serif;
	line-height: 170%;
	font-size: inherit;
	font-weight: inherit;
	text-decoration: underline;
}

.no-font:hover {
	font-family: "Georgia", serif;
	line-height: 170%;
	font-size: inherit;
	font-weight: inherit;
}

.no-font:visited {
	font-family: "Georgia", serif;
	line-height: 170%;
	font-size: inherit;
	font-weight: inherit;
}

article {
	float: left;
	width: 50%;
	padding: 15px 25px;
	background-color: #EBEBF7;
}

#headline {
	font-size: 2.0em;
	text-align: left;
	font-weight: 800;
}

article p {
	font-size: 1.4em;
	text-align: left;
	line-height: 150%
}

aside {
	float: left;
	width: 50%;
	margin: 5px auto;
}

footer {
	display: block;
	text-align: center;
	clear: both;
	background-color: #EBEBF7;
}
/*       Input form              */

.inputform p {
	text-align: center;
}

form {
	font-size: 1.5em;
	text-align: center;
	font-family: "Georgia";
	margin: 3.125em;
	line-height: 200%;
}

input[type=text] {
	border: 1px dotted #999;
	border-radius: 0;
	font-size: .75em;
}

input[type=submit] {
	border-radius: 2em;
	font-size: 1em;
	background-color: #FFFDF6;
	padding: .5em;
}

#message {
	height: 12.5em;
	width: 25em;
	font-size: .6em;
}

#fileToUpload {
	font-family: "Georgia", serif;
	font-size: .6em;
}


/* ----- Media Queries ----- */
@media only screen and (max-width: 900px) {
	h1 {
		font-size: 2em;
	}
	p {
		font-size: 1em;
	}

	.gallery-links li{
		display: block;
		padding: .2em;
		margin: .2em;
	}
}

@media only screen and (max-width: 750px) {

.hero {
	height: 10em;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
	background-color: #EBEBF7;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important; 
}

.open-menu-link{
	display: none;
	position: absolute;
	right: 15px;
	top:0;
	line-height: 55px;
	font-size: 30px;
	cursor: pointer;
}

li .sub-menu{
	display: none;
}

.visible {
	display: block !important;
}


	.display {
		float: none;
		width: 100%;
		text-align: center;
	}

	.display p {
		text-align: center;
	}

	.text-display {
		padding: 0em;
	}
}

@media only screen and (max-width: 705px) {
	/*body, #bridal-body {
		background: none;
		background-color: #EBEBF7;
	}*/

	.hero {
		height: 10em;
	}

	nav li {
		display: block;
		border: 1px solid #FFF;
		padding: .2em;
		box-shadow: .01em .01em .01em .04em #FFF;

	}



	#order {
		padding: 0em;
	}
}