@import url('https://fonts.googleapis.com/css?family=Raleway');

header {
  background-color: #FFED74;
  border: 1px black solid;
  padding: 20px;
}

header img {
  width:50%;
  height: 50%;
  margin: 0 auto;
}
nav {
  background-color: #E8C66A;
  border: 1px black solid;
  padding: 20px;
}

nav li {
  list-style: none;
  text-align: right;
  display: inline-block;
}

.wrapper {
  background-color: #FFE2B8;
  border: 1px black solid;
  padding: 20px;
}

#search {
  background-color: #FFF;
  border: 1px black solid;
  padding: 20px;
}

#middle {
  background-color: #E89C6C;
  border: 1px black solid;
  padding: 20px;
}

footer {
  background-color: #FF957E;
  border: 1px black solid;
  padding: 20px;
}

footer li {
  list-style: none;
  text-align: right;
  display: inline-block;
}
