body {
  background:#69A882 url("http://s23.postimg.org/ngpq8ll8p/Smaller_desk_worker.png") no-repeat center top;
  background-size: 100%;
}

h1,p {
  color:#FFFFFF;
  font-family: Raleway, Helvetica;
  font-size: 24px;
  text-align:center;
  font-weight: normal;
}

#slogan {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: Calibri, "Trebuchet MS";
}
